<h2>Password Reset Request</h2>
<p>Hi <%= name %>,</p>
<p>We received a request to reset your password for your Teachures account. If you made this request, please click the button below to set a new password:</p>
<center>
  <a href="<%= resetUrl %>" class="btn">Reset Password</a>
</center>
<p style="margin-top: 24px;">This link will expire in 1 hour. If you did not request a password reset, you can safely ignore this email.</p>
<p>Best regards,<br>The Teachures Team</p>
