<h2>Password Reset Successful</h2>
<p>Hi <%= name %>,</p>
<p>Your password has been successfully updated. You can now log in to your account with your new password.</p>
<center>
  <a href="<%= url %>/login" class="btn">Log In</a>
</center>
<p style="margin-top: 24px;">If you did not perform this action, please contact our support team immediately.</p>
<p>Best regards,<br>The Teachures Team</p>
